*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    /* background-color: #1F2937; */

}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px;

}

.navbar__logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.navbar__link-text{
    display: flex;
    list-style: none;
}

.navbar__link-text > li{
    margin: 10px;
}

.navbar__link-text, .welcome__info--text{
    font-size: 18px;
    color: #E5E7EB;
}


/* Main */

.welcome{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 60px;
}

.welcome__info{
    width: 25%;
}

.welcome__info--title{
    font-size: 48px;
    color: #F9FAF8;
}


.welcome__img{
    width: 35%;
    height: 210px;
    object-fit: cover;
}

.welcome__info--btn{
    padding: 5px;
    margin-top: 10px;
    width: 95px;
    border-style: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.group-cards{

    background-color: white;
    padding: 50px;
}

.group-cards--card{
    width: 400px;
    height: 400px;
}

.group-cards__title{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
}

.cardsFlex{
    display: flex;
    padding: 50px;
    justify-content: center;
}

.cardImg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.cita{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 100px;
    font-style: italic;
}

.cita__author{
    text-align: end;
    font-style: normal;
}

.signUp{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;

}

.signUp__button{
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    box-shadow: none;
}

.sign-up{
    background-color: white;

}

footer{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 35px;
}